
<button mat-raised-button (click)="addLocation()">Add</button>
<div *ngIf="res">
  <table>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let item of this.res.data">
      <td>{{item.name}}</td>
      <td>{{item.address}}</td>
      <td>{{item.latitude}}</td>
      <td>{{item.longitude}}</td>
      <td>
        <button mat-raised-button (click)="editLocation(item)">Edit</button>
        <button  mat-raised-button (click)="deleteLocation(item.name)">Delete</button>

      </td>

    </tr>
  
  </table>
</div>

<button mat-raised-button (click)="openDialog()">Install Angular</button>

