<h2 mat-dialog-title>Create new address:</h2>
<mat-dialog-content class="mat-typography">
<form [formGroup]="address_add">

  <div class="form-group required">
    <label class="control-label">Address name:</label>
    <input class="form-control" formControlName="Name" name="Name" type="text" required>
  </div>

  <br/>

  <div class="form-group required">
    <label class="control-label">Address text input:</label>
    <input class="form-control" formControlName="Address" name="Address" type="text" required>
  </div>

  <br/>

  <div class="form-group required">
    <label class="control-label">Latitude:</label>
    <input class="form-control" formControlName="Latitude" name="Latitude" type="text" required>
  </div>

  <br/>

  <div class="form-group required">
    <label class="control-label">Longitude:</label>
    <input class="form-control" formControlName="Longitude" name="Longitude" type="text" required>
  </div>

</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="addLocation()">Submit</button>
</mat-dialog-actions>